{% extends 'DM_analyst/dmaBase.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'DM_analyst/css/change_password.css' %}">

<div class="change_pwd_main">
    <h2 class="text-center">Change Password</h2>
    <form id="changePasswordForm" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="current_password">Current Password:</label>
            <input type="password" id="current_password" name="current_password" class="form-control" required>
        </div>
    
        <div class="form-group">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" class="form-control" required onkeyup="validatePassword();">
        </div>
    
        <div class="form-group">
            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required onkeyup="validatePassword();">
        </div>
    
        <div id="passwordCriteria" class="password-criteria">
            <p id="minChars">Minimum 8 characters needed</p>
            <p id="upperCase">Must contain at least one uppercase letter</p>
            <p id="specialChar">Must contain at least one special character</p>
            <p id="digit">Must contain at least one digit</p>
            <p id="passwordMatch">Passwords must match</p>
        </div>
    
        <div class="text-center mt-3">
            <button class="btn btn-scstm" type="submit" disabled>Change Password</button>
            <a class="btn btn-danger" href="{% url 'dma_home' %}">Cancel</a>
        </div>
    </form>
</div>

<script src="{% static 'DM_analyst/js/change_password.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
