{% extends 'admin_panel/adminBase.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'admin_panel/css/edit_user.css' %}">
<script src="{% static 'admin_panel/js/validate_user.js' %}"></script>

<div class="container mt-4">
  <h2>Edit User</h2>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <!-- First Name -->
      <div class="col-md-6 col-sm-12 mb-3">
        <label>First Name</label>
        <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}" required>
      </div>
      <!-- Last Name -->
      <div class="col-md-6 col-sm-12 mb-3">
        <label>Last Name</label>
        <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}" required>
      </div>
      <!-- Email -->
      <div class="col-md-6 col-sm-12 mb-3">
        <label>Email</label>
        <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}" required onblur="validateField('email', this.value, 'emailError', {{ user.id }})">
        <span id="emailError" class="text-danger"></span>
      </div>
      <!-- Phone -->
      <div class="col-md-6 col-sm-12 mb-3">
        <label>Phone</label>
        <input type="text" name="phone" id="phone" class="form-control" value="{{ user.phone }}" required onblur="validateField('phone', this.value, 'phoneError', {{ user.id }})">
        <span id="phoneError" class="text-danger"></span>
      </div>
      <!-- Username -->
      <div class="col-md-6 col-sm-12 mb-3">
        <label>Username</label>
        <input type="text" name="username" id="username" class="form-control" value="{{ user.username }}" required onblur="validateField('username', this.value, 'usernameError', {{ user.id }})">
        <span id="usernameError" class="text-danger"></span>
      </div>

      <!-- Gender -->
      <div class="col-md-6 col-sm-12 mb-3">
        <label>Gender</label>
        <select name="gender" class="form-select">
          <option value="male" {% if user.gender == 'male' %}selected{% endif %}>Male</option>
          <option value="female" {% if user.gender == 'female' %}selected{% endif %}>Female</option>
          <option value="other" {% if user.gender == 'other' %}selected{% endif %}>Other</option>
        </select>
      </div>
      <!-- Company Name -->
      <div class="col-12 mb-3">
        <label>Company Name</label>
        <input type="text" name="company_name" class="form-control" value="{{ user.company_name }}">
      </div>
    </div>
    <button type="submit" class="btn btn-cstm mt-4 w-100">Update</button>
  </form>
</div>
{% endblock %}
